<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{openGraph.title}}</title>
    <meta property="og:url" content="{{openGraph.url}}" />
    <meta property="og:title" content="{{openGraph.title}}" />
    <meta property="og:type" content="{{openGraph.type}}" />
    <meta property="og:description" content="{{openGraph.description}}" />
    <meta property="og:image" content="{{openGraph.image}}" />
    <meta property="og:image:width" content="{{openGraph.imageWidth}}" />
    <meta property="og:image:height" content="{{openGraph.imageHeight}}" />
    <meta property="og:twitter:card" content="{{openGraph.twitterCard}}" />
    <meta property="og:twitter:site" content="{{openGraph.twitterSite}}" />
    <meta property="og:twitter:creator" content="{{openGraph.twitterCreator}}" />
    <link rel="stylesheet" href="/css/voidmyscore.min.css">
  </head>

  <body>
    {{helloWorldMessage}}
  </body>

</html>